In [5]:
#import dependencies

import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt

#read csv data
moderna_df = pd.read_csv(r"C:\Users\cnr2231\git\Project_2\Resources\cdc-moderna-covid-19-vaccine-distribution-by-state.csv")
pfizer_df = pd.read_csv(r"C:\Users\cnr2231\git\Project_2\Resources\cdc-pfizer-covid-19-vaccine-distribution-by-state.csv")


#Clean data
#convert dates if necessary


print((moderna_df['jurisdiction'].nunique()))



display(moderna_df)
display(pfizer_df)

63

,jurisdiction,week_of_allocations,_1st_dose_allocations,_2nd_dose_allocations
0,Connecticut,2021-06-21T00:00:00.000,41220,41220
1,Maine,2021-06-21T00:00:00.000,15800,15800
2,Massachusetts,2021-06-21T00:00:00.000,79500,79500
3,New Hampshire,2021-06-21T00:00:00.000,15800,15800
4,Rhode Island,2021-06-21T00:00:00.000,12480,12480
...,...,...,...,...
995,Hawaii,2021-03-08T00:00:00.000,14200,14200
996,Nevada,2021-03-08T00:00:00.000,28500,28500
997,American Samoa,2021-03-08T00:00:00.000,0,0
998,Guam,2021-03-08T00:00:00.000,0,0
999,Marshall Islands,2021-03-08T00:00:00.000,0,0

,jurisdiction,week_of_allocations,_1st_dose_allocations,_2nd_dose_allocations
0,Connecticut,2021-06-21T00:00:00.000,54360,54360
1,Maine,2021-06-21T00:00:00.000,21420,21420
2,Massachusetts,2021-06-21T00:00:00.000,104580,104580
3,New Hampshire,2021-06-21T00:00:00.000,21420,21420
4,Rhode Island,2021-06-21T00:00:00.000,17280,17280
...,...,...,...,...
995,Hawaii,2021-03-08T00:00:00.000,18720,18720
996,Nevada,2021-03-08T00:00:00.000,36270,36270
997,American Samoa,2021-03-08T00:00:00.000,0,0
998,Guam,2021-03-08T00:00:00.000,0,0
999,Marshall Islands,2021-03-08T00:00:00.000,0,0